
.table-container {
  box-shadow: 0px 0px 5px 3px #0000001a;
  border: 2px solid $grey-color;
  border-radius: 8px;
  overflow-x: auto;

  .table-section {
    border-collapse: collapse;
    width: 100%;

    .table-head {
      .table-cell {
        @include tableCellProps(15px 13px);
        @include textProps(600, 14.5px, unset);
        white-space: nowrap;

        .table-head-content{
          @include flexProps(flex, center, unset);

          img{
            margin-right: 7px;
          }
        }
      }
    }

    .table-row {
      .table-cell {
        @include tableCellProps(10px 13px);
        @include textProps(400, 14px, unset);
         
      }
    }
  }
}

.no-border-bottom {
  border-bottom: none !important;
}

.no-border-right {
  border-right: none !important;
}
