@import "./mixins";

.data-card-section {
  @include cardProps(20px, $white-color);
  margin-bottom: 30px;

  .status-tab-sec {
    @include gridProps(repeat(4, 1fr), 26px);
    margin-bottom: 18px;

    .status-tab {
      border-radius: 8px;
      padding: 5px 12px;
      width: fit-content;
      @include textProps(500, 12px, #fff);
    }
  }

  .data-inner-card-section {
    @include gridProps(repeat(4, 1fr), 26px);
  }
}

.data-card {
  @include cardProps(13px, $white-color);

  .data-project-sec {
    @include flexProps(flex, center, space-between);

    .id-txt {
      @include textProps(700, 13.5px, unset);
    }

    .project-name {
      @include flexProps(inline-flex, center, unset);
      @include textProps(700, 13.5px, unset);

      img {
        margin-right: 6px;
      }
    }
  }

  .date-section {
    margin-bottom: 14px;
    padding-bottom: 23px;
    border-bottom: 1px solid #e7e6e6;

    .date-txt {
      @include flexProps(flex, center, unset);
      @include textProps(500, 13.5px, unset);

      img {
        margin-right: 6px;
        height: 18px;
      }
    }
  }

  .files-sec {
    @include flexProps(flex, center, space-between);

    .owner-sec-txt {
      @include flexProps(flex, center, unset);
      @include textProps(500, 13.5px, unset);

      img {
        margin-right: 5px;
      }
    }

    .file-txt {
      @include flexProps(inline-flex, center, unset);
      @include textProps(700, 13.5px, unset);

      img {
        margin-right: 4px;
      }
    }
  }
}

@media (max-width: 991px) {
  .data-card-section {
    .data-inner-card-section {
      @include gridProps(repeat(3, 1fr), 26px);
    }
  }
}

@media (max-width: 768px) {
  .data-card-section {
    .status-tab-sec {
      @include gridProps(repeat(2, 1fr), 26px);
    }
    .data-inner-card-section {
      @include gridProps(repeat(2, 1fr), 26px);
    }
  }
}
