.table-container {
  box-shadow: 0px 0px 5px 3px #0000001a;
  border: 2px solid #999999;
  border-radius: 8px;

  .table-section {
    border-collapse: collapse;
    width: 100%;

    .table-head {
      .table-cell {
        @include tableCellProps(15px 13px);
        @include textProps(600, 14.5px, unset);
      }
    }

    .table-row {
      .table-cell {
        @include tableCellProps(10px 13px);
        @include textProps(400, 14px, unset);       
      }
    }
  }
}

.no-border-bottom {
  border-bottom: none !important;
}

.no-border-right {
  border-right: none !important;
}
