@import "./mixins";
@import "./variables";

* {
  font-family: "Inter", serif;
}

.main-section {
  padding: 13px;
  margin-left: 48px;
  margin-top: 65px;
  margin-bottom: 30px;
}

.progress-bar-section {
  @include flexProps(flex, center, unset);
  margin: 25px 0px;

  .progress-num-txt {
    @include textProps(unset, 13px, #404040);
  }

  .progress-indicator-sec {
    background-color: #eeeeee;
    height: 18px;
    width: 100%;
    border-radius: 8px;
    position: relative;
    margin: 0px 4px;

    .percent-txt {
      position: absolute;
      z-index: 1;
      left: 47%;
      top: 1.5px;
      @include textProps(700, 12.5px, $brand-color);
    }

    .active {
      position: absolute;
      top: 0;
      left: 0;
      bottom: 0;
      background-color: #66cc66;
      border-top-left-radius: 8px;
      border-bottom-left-radius: 8px;
      transition: all 0.5s;
      width: 0%;
    }
  }
}

.profile-sec {
  @include flexProps(flex, center, unset);
}

.project-head-sec {
  @include flexProps(flex, center, space-between);

  .project-head {
    @include flexProps(flex, center, unset);

    .project-text {
      @include textProps(500, 26px, unset);
      margin: 0px;
    }

    .add-project-btn {
      @include buttonProps($brand-color, 11px 14px, 30px, unset, unset);
      @include flexProps(flex, center, center);

      img {
        margin-right: 7px;
      }
    }
  }

  .route-txt {
    @include textProps(400, 13.5px, unset);
    
    .link {
      cursor: pointer;
      color: #007aff;
    }
  }
}

.filter-action-sec {
  @include flexProps(flex, center, space-between);
  margin: 20px 0px;

  .head-txt {
    margin: 0;
    color: $brand-color;
    @include flexProps(flex, center, unset);
    @include textProps(500, 17px, unset);

    img{
      height: 12px;
      margin-left: 5px;
    }
  }

  .filter-btn-sec {
    @include flexProps(flex, center, unset);

    .btn-1 {
      @include buttonProps($white-color, 8px 9px, unset, 12px, 1px solid #bfbdbd);
      @include flexProps(flex, center, center);

      img{
        height: 21px;
      }
    }

    .btn-2 {
      @include buttonProps($white-color, 8px 9px, unset, 10px, 1px solid #bfbdbd);
      @include flexProps(flex, center, center);

      img{
        height: 21px;
      }
    }

    .btn-3{
      @include buttonProps($white-color, 7px 9px, unset, unset, unset);
      @include flexProps(flex, center, center);
    }
  }
}

.success {
  @include statusProps(#4caf50);
}

.info {
  @include statusProps(#4A90E2);
}

.info2{
  @include statusProps(#3B78A3);
}

.secondary {
  @include statusProps(#B0B0B0);
}

.secondary2 {
  @include statusProps(#808080);
}

.error{
  @include statusProps(#F42E2E);
}

.warning{
  @include statusProps(#CAC000);
}

.dark{
  @include statusProps(#3E4B4F);
}

.active-btn {
  background-color: $brand-color !important;
  border: 1px solid $brand-color !important;
}
