@import "./mixins";
@import './variables';

* {
  font-family: "Inter", serif;
}

.main-section {
  padding: 13px;
  margin-left: 48px;
  margin-top: 65px;
  margin-bottom: 30px;
}

.progress-bar-section {
  @include flexProps(flex, center, unset);
  margin: 25px 0px;

  .progress-num-txt {
    @include textProps(unset, 13px, $dark-color);
  }

  .progress-indicator-sec {
    background-color: $light-grey-color;
    height: 18px;
    width: 100%;
    border-radius: 8px;
    position: relative;
    margin: 0px 4px;

    .percent-txt {
      @include positionBoxProps(absolute, unset, 1.5px, 46%, unset, unset, 1, unset);
      @include textProps(700, 12.5px, $brand-color);
    }

    .active {
      @include positionBoxProps(absolute, $green-color, 0, 0, unset, 0, unset, unset);
      border-top-left-radius: 8px;
      border-bottom-left-radius: 8px;
      transition: all 0.5s;
    }
  }
}

.success {
  @include statusProps($green-color);
}

.info {
  @include statusProps($blue-color);
}

.info2{
  @include statusProps($dark-blue-color);
}

.secondary {
  @include statusProps($light-grey-color);
}

.secondary2 {
  @include statusProps($grey-color);
}

.error{
  @include statusProps($red-color);
}

.warning{
  @include statusProps($yellow-color);
}

.dark{
  @include statusProps($dark-color);
}
