@import "./mixins";
@import "./variables";

.sidebar-section {
  position: fixed;
  width: 46px;
  background-color: $brand-color;
  top: 0px;
  bottom: 0px;
  left: 0px;
  box-shadow: 0px 4px 4px 0px #00000099;
  z-index: 1500;
}

.navbar-section {
  position: fixed;
  background-color: $brand-color;
  top: 0px;
  right: 0px;
  width: 100%;
  left: 46px;
  padding: 13px;
  z-index: 1400;

  .nav-head-txt {
    @include textProps(700, 20px, $white-color);
  }
}
