@mixin flexProps($displayFlex, $alignItem, $justifyContent) {
  display: $displayFlex;
  align-items: $alignItem;
  justify-content: $justifyContent;
}

@mixin cardProps($padding) {
  box-shadow: 0px 0px 5px 1px #00000026;
  padding: $padding;
  border-radius: 8px;
}

@mixin textProps($fontWeight, $fontSize) {
  font-weight: $fontWeight;
  font-size: $fontSize;
}

@mixin tableCellProps($padding) {
  border-bottom: 1px solid #808080;
  border-right: 1px solid #808080;
  padding: $padding;
  text-align: left;
  text-transform: capitalize;
}

@mixin statusProps($backgroundColor) {
  color: #fff;
  text-align: center !important;
  background-color: $backgroundColor;
}
