
$white-color: #fff;
$red-color: #F42E2E;
$green-color: #4caf50;
$blue-color: #4A90E2;
$grey-color: #9c9c9c;
$light-grey-color: #d1d0d0;
$dark-color: #3E4B4F;
$yellow-color: #CAC000;
$brand-color: #2d446e;
$dark-blue-color: #3B78A3;